<p style="color: green"><%= notice %></p>

<%= render @garden %>

<div>
  <%= link_to "Edit this garden", edit_garden_path(@garden) %> |
  <%= link_to "Back to gardens", gardens_path %>

  <%= button_to "Destroy this garden", @garden, method: :delete %>
</div>
